body {
  background-color: #99c2ff;
}

.error {
  background-color: rgb(255, 136, 136);
  border-radius: 5px;
}
.errorMessage {
  color:red;
}
.active-filter {
  background-color: aqua;
}
.is-done {
  opacity: 0.9;
  text-decoration: line-through;
}
.btn:hover {
cursor: pointer;
transform: scale(0.8);
transition: 0.5s;
background-color: rgba(128, 128, 128, 0.267);
}
.default {
  background-color: white;
  border-radius: 5px;
}
